.tabList{
	.item{
		width:20%;padding:20upx 0;text-align: center;
		&.active{
			color:#ff3333;
			position: relative;
			&:after{
				position: absolute;
				content:'';bottom:0;
				width:80upx;
				left:50%;height:3upx;background: #ff3333;
				transform: translateX(-50%);
			}
		}
	}
}
.order_item{
	padding:20upx;border-radius:15upx;
	.shop_name{
		margin:0 10upx;
	}
	.logo{
		width:32upx;height:28upx;
	}
	.img{
		width:162upx;height:162upx;
	}
	.order_info{
		padding: 10upx 0;
	}
	.btn{
		padding:10upx 0;
		view{
			width:145upx;height:60upx;line-height: 60upx;font-size:24upx;
			text-align: center;
			border-radius:10upx;
			margin-right:20upx;
			&:last-child{margin-right: 0;}
		}
		.btn_g{
			border:1upx solid #999999;
		}
		.btn_r{
			background: #ff3333;color:#ffffff;
		}
		
	}
}