.BrandInfo{
	height: 360upx;
	display: flex;
	justify-content: center;
	flex-direction: column;
	.inner{
		padding: 90upx 20upx 40upx;
		.logoBox{
			width: 120upx;
			height: 120upx;
			margin-right: 20upx;
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
		.name{ font-size: 32upx; font-weight:bold;}
		.brand-desc{ font-size: 28upx;}
	}
}
.baolist{
	background: #ffffff;
	border-radius:20upx 20upx 0 0;
	margin-top: -40upx;
	.title{
		padding:20upx 20upx 0;
		.name{
			font-size:32upx;margin-right:10upx;
		}
		.subtitle{
			font-size:24upx;color:#999;
		}
	}
	.scroll-view_H {
		white-space: nowrap;
		width: 100%;
	}
	.scroll-view-item_H {
		display: inline-block;
	}
	.HotsellList .uni-bd {
		margin-right: -20upx;
	}
	
	.Hotsell-list .itembox {
		width: 280upx;
		margin-right: 20upx;
		overflow: hidden;
	}
	
	.Hotsell-list .image-view {
		width: 280upx;
		height: 280upx;
		margin: 0;
	}
	
	.Hotsell-list .image-view .img {
		width: 100%;
		height: 100%;
	}
	
	.Hotsell-list .uni-product-price {
		margin-top: 0;
	}
	
	.Hotsell-list .uni-product-price .uni-product-price-favour {
		font-size: 24upx;
	}
}
.bb_mt{
	padding:0 30upx;
}
.sharebtn{
	width:50upx;height:50upx;border-radius:50%;
	display: flex;
	justify-content: center;
	align-items: center;
}