.carthead{
	background-color: #ffffff;
	width: 750upx;
	padding: 0 20upx;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 88upx;
	z-index: 8;
	position: fixed;
	top: 0;
	box-sizing: border-box;
}
.wxcarthead{
	background-color: #fff;
	width: 100%;
	padding: 0 20upx;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 88upx;
	z-index: 8;
	position: fixed;
	top: 0;
	/* left: 20upx; */
}
.carthead text:nth-child(1){
	font-size: 32upx;
	font-weight: bold;
}
.collect_list{
	.list{
		.item{
			width:100%;padding:20upx 30upx;background: #ffffff;
			.item_shop{
				.shop_logo{
					width:88upx;height:88upx;margin-right:10upx;
				}
			}
			.item_list{
				justify-content: space-between;
				.item_list_fill{
					.img{
						width:220upx;height:220upx;
						border:1upx solid #f5f5f5;border-radius:15upx;
						image{
							width:191upx;height:154upx;
						}
					}
					
				}
			}
		}
		.pro_item_list{
			.item_view{
				padding:0 30upx;background: #ffffff;
				.item_pro{
					padding:20upx 0;
					border-bottom:1upx solid #f5f5f5;
					image{
						width:162upx;height:162upx;margin-right:20upx;
					}
					.line_thin{
						text-decoration: line-through;font-size:22upx;color:#999;margin-left:10upx;
					}
					.color_red{
						color:#f00000;
					}
					.flag{
						margin-left:40upx;
						font-size:20upx;height:40upx;box-sizing: border-box;
						.flag_pill{
							background: #f00000;color:#ffffff;line-height: 40upx;padding:0 15upx;height:40upx;
							border-radius: 5upx 0 0 5upx;
						}
						.flag_mon{
							line-height: 40upx;padding:0 10upx;height:40upx;border:1px solid red;
							border-radius: 0 5upx 5upx 0;
						}
					}
				}
			}
		}
	}
}
